html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.p-18 {
  padding: 18px;
}

.m-16 {
  margin: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg {
  background-color: #000814;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
}
